@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background-color: black;
}

.navbar .navbar-brand {
    font-size: 25px;
    font-weight: 800;
    color: pink !important;
}

#navbarSupportedContent a {
    color: white;
    border-bottom: 2px solid transparent;
}

#navbarSupportedContent a:hover {
    border-bottom: 2px solid pink;
}

#navbarSupportedContent button {
    background-color: pink;
    width: 5rem;
    border-radius: 15px;
}

section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.8)),url(./spices.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1 {
    font-size: 100px;
    color: white;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0px 1px 0px #ccc,
                 0px 2px 0px #ccc,
                 0px 3px 0px #ccc,
                 0px 4px 0px #ccc,
                 0px 5px 0px #ccc,
                 0px 6px 0px #ccc,
                 0px 7px 0px #ccc;
}

.org {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #navbar {
        padding: .5rem;
    }
    .navbar .navbar-brand {
        font-size: 20px;
    }
    #home h1 {
        font-size: 60px;
    }
    #home {
        background-position: top;
    }
    #home h1 {
        font-size: 40px;
    }
    #home p {
        font-size: 14px;
        color: #fff;
    }
    #home .input-group{
        /* min-width: 10%; */
        height: 15px;
        width: 300px;
    }
}
.demo{
    display: flex;

}
#home  .signin{
    background-color: green !important;
    color: white !important;
    box-shadow: 2px 4px 5px rgba(0,0,0,.3);
    width: 200px;
}
#about{
    background-color: plum;
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
}
#about p{
    color: white;
}